<template>
    <div class="col-md-9">
        <div class="step">
            <p class="lead">Krok 1</p>
            Wybierz dania z menu, na pewno znajdziesz coś dla siebie!
        </div>

        <div class="step">
            <p class="lead">Krok 2</p>
            Wypełnij formularz, załóż swoją grupę lunchową lub dołącz do istniejącej. Wybierz swoj sposób płatności.
        </div>

        <div class="step">
            <p class="lead">Krok 3</p>
            Gotowe! Zamówienie jest w realizacji. Jeżeli zamawiacie grupowo, jedna osoba może zająć się odbiorem dań dla wszystkich.
        </div>
    </div>
</template>

<style>
    .step {
        margin-bottom: 10px;
    }
    .step .col-md-9 {
        text-shadow: 1px 1px 1px #FFF;
    }
    .step .lead {
        margin-bottom: 0;
    }
</style>