<template>
    <div>
        <ul class="list-group">
            <li v-for="product in productsInCart"
                class="list-group-item">
                {{ product.qty }} &times; {{ product.name }}
                <div class="pull-right">
                    <div class="btn-group" role="group" aria-label="...">
                        <button @click.prevent="product.qty > 1 ? product.qty -= 1 : remove(product)"
                                type="button" class="btn btn-xs btn-default">-</button>
                        <button @click.prevent="product.qty += 1"
                                type="button" class="btn btn-xs btn-default">+</button>
                    </div>
                </div>
            </li>
        </ul>
        <div v-if="productsInCart.length > 0" id="order-total">
            Razem
            <div class="pull-right"><strong>{{ total }}</strong> zł</div>
        </div>
    </div>
</template>

<style>
    #order-total {
        padding: 15px 0 15px;
        border-top: 1px solid #ddd;
    }
</style>

<script>
    export default {
        props: ['productsInCart'],
        computed: {
            total () {
                return _.reduce(_.map(this.productsInCart, (product) => product.price * product.qty),
                        (sum, price) => sum + price, 0).toFixed(2);
            }
        },
        methods: {
            remove(product) {
                this.$emit('remove', product);
            }
        }
    }
</script>