<template>
    <div class="row">
        <div class="col-sm-7">
            <orders :orders="orders"></orders>
            <products :products="products" v-on:add="productAddToCart"></products>
        </div>
        <div class="col-sm-5">
            <cart :productsInCart="productsInCart" v-on:remove="productRemoveFromCart"></cart>
            <order :productsInCart="productsInCart" v-on:new="newOrder"></order>
        </div>
    </div>
</template>

<script>
    const products = require('./Products.vue');
    const cart = require('./Cart.vue');
    const order = require('./Order.vue');
    const orders = require('./Orders.vue');

    export default {
        components: {
            products, cart, order, orders
        },
        data () {
            return {
                show: false,
                products: [],
                orders: []
            }
        },
        beforeCreate () {
            this.$http.get('/api/product').then((response) => response.json()).then((products) => {
                this.products.push.apply(this.products, _.each(products, (product) => {
                    product.qty = 0;
                }));
            });
        },
        computed: {
            productsInCart () {
                return this.products.filter((product) => product.qty > 0);
            }
        },
        methods: {
            productAddToCart (product) {
                product.qty += 1;
            },
            productRemoveFromCart (product) {
                product.qty = 0;
            },
            newOrder (order) {
                _.forEach(this.products, (product) => product.qty = 0);

                this.orders.push(order);
            }
        }
    }
</script>