<template>
    <ul class="list-group">
        <li v-for="order in orders"
            class="list-group-item">
            <h4 class="list-group-item-heading">{{ order.name }}</h4>
            <p class="list-group-item-text">
                <ul class="list-unstyled">
                    <li v-for="product in order.products">
                        {{ product.qty }} &times; {{ product.name }} {{ product.total }}
                    </li>
                </ul>
            </p>
        </li>
    </ul>
</template>

<script>
    export default {
        props: ['orders']
    }
</script>