<template>
    <form @submit.prevent="store"
          v-if="productsInCart.length > 0"
          class="form-horizontal">
        <div class="form-group"
            :class="{'has-error': errors.has('name')}">
            <div class="col-sm-12">
                <input v-model="order.name"
                       v-validate data-rules="required"
                       name="name"
                       type="text" placeholder="Podaj imię" class="form-control">
                <div v-if="errors.has('name')"
                     class="help-block with-errors">
                    {{ errors.first('name') }}
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12 text-center">
                <button type="submit" class="btn btn-success" :disabled="busy">
                    <div v-show="busy" class="loading"></div>
                    Zamawiam
                </button>
            </div>
        </div>
    </form>
</template>

<script>
    export default {
        props: ['productsInCart'],
        data () {
            return {
                busy: false,
                order: {
                    name: ''
                }
            }
        },
        methods: {
            store () {
                this.$validator.validateAll();

                if (this.errors.any()) {
                    return false;
                }

                this.busy = true;

                const productQty = _.mapValues(_.keyBy(this.productsInCart, 'id'), 'qty');

                this.$http.post('/api/order', _.extend({}, this.order, {'products': productQty}))
                    .then((response) => {
                        this.order.name = '';

                        this.$emit('new', response.body);
                    }, (response) => {
                        _.forEach(response.body, (value, key) => {
                            _.forEach(value, (msg) => {
                                this.errors.add(key, msg);
                            });
                        });
                    }).then(() => {
                        this.busy = false;
                    });
            }
        }
    }
</script>