<template>
    <div>
        <div class="btn-group" role="group">
            <button @click="activeCategory = null"
                    class="btn btn-default">
                Wszystko
            </button>
            <button v-for="categoryProducts in categories"
                    v-if="categoryProducts.category"
                    @click="activeCategory = categoryProducts.category"
                    v-bind:class="{'btn-primary': activeCategory == categoryProducts.category}"
                    type="button" class="btn btn-default">
                {{ categoryProducts.category.name }}
            </button>
        </div>

        <div v-for="categoryProducts in categories"
             v-show="!activeCategory || (categoryProducts.category && (categoryProducts.category == activeCategory))"
             class="row" style="margin-top: 20px;">
            <div class="col-md-12">
                <h4 v-if="categoryProducts.category">
                    {{ categoryProducts.category.name }}
                </h4>

                <div class="list-group">
                    <a v-for="product in categoryProducts.products"
                       @click.prevent="add(product)"
                       v-bind:class="{'list-group-item-success': product.qty > 0}"
                       href="#" type="button" class="list-group-item">
                        {{ product.name }}
                        <div class="pull-right">{{ product.price }} zł</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['products'],
        data () {
            return {
                activeCategory: null
            }
        },
        computed: {
            categories () {
                const categoryProducts = {};

                _.each(_.groupBy(this.products, (product) => product.category && product.category.id), (products, categoryId) => {
                    categoryProducts[categoryId] = {
                        category: _.first(products).category,
                        products: products
                    };
                });

                return categoryProducts;
            }
        },
        methods: {
            add (product) {
                this.$emit('add', product);
            }
        }
    }
</script>