
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.fade-enter-active, .fade-leave-active {
  transition: all .9s ease;
}
.fade-enter-active {
  transition-delay: .9s;
}
.fade-enter, .fade-leave-active {
  opacity: 0;
  transform: translateY(50px);
}

button.btn:focus {
  outline: 0 !important;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

$loading-size: 24px;
$white: rgb(255,255,255);
$off-white: rgba($white, 0.2);
$spin-duration: .5s;
.loading {
  border-radius: 50%;
  width: $loading-size;
  height: $loading-size;
  border: .25rem solid $off-white;
  border-top-color: $white;
  animation: spin $spin-duration infinite linear;
}
button > .loading {
  display: inline-block;
  width: 16px; height: 16px;
  margin-right: 5px;
  vertical-align: middle;
}